@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    scroll-behavior: smooth;
}
@media screen and (min-width:1024px) {
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    position: relative;
    display:flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;
}
.content .textbox h2{
    color: #333;
    font-size: 2rem !important;
    font-weight: 500;
}
.content .textbox h2 span{
    color: #017143;
    font-size: 3rem;
    font-weight: 900;
}
.content .textbox P{
    color: #333;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    font-weight: 500;
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
    margin-top: 40px;
}
.content .imgbox img{
    max-width: 240px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #017143;
    clip-path: circle(600px at right 700px);
}
.whats__head .whats__header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
}
.whats__head .whats__header .whats__title{
    box-shadow: -5px  -5px 15px rgba(255, 255, 255, .2),5px  5px 15px rgba(0, 0, 0, .5);
    background: #333;
    border-radius: .5rem;
}
.whats__allpara{
    margin-bottom: 100px;
}
.whats__head .whats__allpara .images__all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-right: 50px;
}
.whats__head .whats__allpara .images__all .images__first{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: .5rem;
    transition: 1s;
    display: block;
    box-shadow: -5px  -5px 15px rgba(255, 255, 255, .2),5px  5px 15px rgba(0, 0, 0, .5);
}
.whats__head .whats__allpara .images__all .images__first:hover{
    transform: scale(1.1);
}
.img__header .images{
    width: 390px;
}
footer{
    margin-top: 30rem !important;
    background-color: #333;
    padding: 30px;
}
}
@media screen and (min-width:500px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 1px 10px #017143;
        overflow: hidden;
        z-index: 999;
        background-color: #333;
    }
    header ul li a::after{
        content: '';
        width: 0px;
        background: rgb(21, 21, 208);
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    header ul li a:hover::after{
        width: 45px;
        height: 2px
    }
    header ul{
        position: fixed;
        display:flex;
        top: 0;
        right: -110%;
        transition: .5s;
        margin-bottom: 1px solid red;

    }
    header i{
        position: fixed;
        top: 20px;
        right: 15px;
        cursor: pointer;
        color: #fff;
    }
    .show{
        right: 0;
    }
    header ul li{
        list-style: none;
    }
    header ul li a{
        display: inline-block;
        color: #333;
        font-weight: 400;
        margin-right: 50px;
        text-decoration: none;
        color:#fff;
    }
    .content{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content .textbox{
        position: relative;
        max-width: 600px;
    }
    .content .textbox h2{
        color: #333;
        font-size: 20px;
        font-weight: 500;
        margin: 25px;
    }
    .content .textbox h2 span{
        color: #017143;
        font-size: 25px;
        font-weight: 700;
        transition: .5s;
        cursor: pointer;
    }
    .content .textbox h2 span:hover{
        transform: translateY(-15px);
    }
    .content .textbox P{
        color: #000;
        margin-left: 10px;
    }
    .content .textbox a{
        display: inline-block;
        margin-top: 5px;
        padding: 8px 20px;
        background: orangered;
        box-shadow: -5px  -5px 15px rgba(255, 255, 255, .2),5px  5px 15px rgba(0, 0, 0, .5);
        color: #fff;
        font-weight: 500;
        border-radius: 40px;
        letter-spacing: 1px;
        text-decoration: none;
    }
    .content .textbox a:active{
        box-shadow:inset 1px 1px 10px #333;
    }
    
    .content .textbox a:hover{
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0,0,0);
        perspective: 1000px;
    }
    @keyframes shake {
        10%,90% {
            transform: translate3d(-1px,0,0);
        }
        20%,80%{
            transform: translate3d(2px,0,0);
        }
        30%,50%,70%{
            transform: translate3d(-4px,0,0);
        }
        40%,60%{
            transform: translate3d(4px,0,0);
        }
    }
    .content .imgbox{
        width: 600px;
        display: flex;
        justify-content: flex-end;
        padding-left: 10px;
    }
    .content .imgbox img{
        max-width: 170px;
        margin-bottom: 30px;
        transition: .5s;
    }
    .content .imgbox img:hover{
        transform: translateY(-15px);
    }
    .thumb{
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-10%);
        display: flex;
    }
    .thumb li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    .thumb li:hover{
        transform: translateY(-15px);
    }
    .thumb li img{
        max-width: 50px;
    }
    .sci{
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sci li{
        list-style: none;
    }
    .sci li a{
        display: inline-block;
        margin: 10px 0px;
        transform: scale(0.6);
        filter: invert(1);
        transition: .5s;
    }
    .sci li a:hover{
        transform: scale(1);
    }
    .circle{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #017143;
        clip-path: circle(600px at right 730px);
    }
    .img__header{
        display: block;
        margin: auto;
    }
    .img__header .img__radius{
        border-radius: .5rem;
        background: #333;
        box-shadow: -5px  -5px 15px rgba(255, 255, 255, .2),5px  5px 15px rgba(0, 0, 0, .5);
      
    }
    .img__header .img__title{
        font-weight: 600;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding: 7px 0px;
    }
    .img__header .img__subtitle{
        color: #fff;
        font-weight: 500;
        text-align: center;
        padding: 10px ;
    }
    .img__header .images{
        margin-top: 50px;
        padding: 0px 10px;
        display: flex;
        overflow: hidden;
        width: 380px;
        transition: 1s;
    }
    .img__header .images__first .img{
        width: 110px;   
        box-shadow: -5px  -5px 15px rgba(255, 255, 255, .2),5px  5px 15px rgba(0, 0, 0, .5);
        margin: 0px 7px;       
        transition: 1s;
        border-radius: .5rem;
    }
    .img__header .images__first .img:hover{
        transform: scale(1.1);
    }
    .img__header .images__first .img__name{
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }
    .img__header .images__first .img__name span:hover{
        color: rgb(207, 23, 23);
    }
    .whats__head{
        display: block;
        margin: auto;
    }
    .whats__head .whats__header{
        border-radius: .5rem;
        background: #017143;
        box-shadow: -5px  -5px 15px rgba(255, 255, 255, .2),5px  5px 15px rgba(0, 0, 0, .5);
        margin-bottom: 50px;
    }
    .whats__head .whats__header .whats__title{
        font-weight: 700;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding: 7px 0px;
    }
    .whats__head .whats__header .whats__subtitle{
        color: #fff;
        font-weight: 600;
        text-align: center;
        padding: 10px;
    }
    .whats__head .whats__allpara{
        font-weight: 600;
        font-size: 15px;
        margin-left: 50px;
    }
    .whats__head .whats__allpara .images__first{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: auto;
    }
    .whats__head .whats__allpara .images__first img{
        width: 100px;
    }
    .whats__head .whats__allpara .images__all .images__first{
        margin-top: 30px;
    }
    .whats__head .whats__allpara .images__all .images__first i{
        color: rgb(42, 42, 208);
        margin: 40px 10px;
    }
    .img__header i{
        font-size: 30px;
        color: #333;
        transition: .5s;
        padding: 10px 80px;
    }
    .img__header i:hover{
        transform: scale(1.1);
    }
    footer{
        margin-top: 60rem;
        background-color: #333;
        padding: 30px;
    }
    footer i{
        padding: 8px 10px;
    }
    .footer__h4{
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        color: #fff;
    }
    .footer__icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__icon{
        color: #fff;
        font-size: 20px;
    }
    .footer__icon:hover{
        transform: scale(1.1);
    }
    footer p{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-bottom: 5px;
    }

}